--extra-index-url https://download.pytorch.org/whl/cu128
# for training
torch
torchvision
pytorch-lightning
omegaconf
pillow
einops
requests
tqdm
opencv-python
albumentations
scikit-image

# not needed for training; for running notebooks
jupyterlab
jupyterlab-vim